@inject HttpClient httpClient
@inject NavigationManager navManager
@page "/administration-dash"

<h3>Administracija proizvoda i kategorija</h3>

<a href="">Lista kategorija</a>
<a href="">Dodaj novu kategoriju</a>
<a href="">Lista proizvoda</a>
<a href="">Dodaj novi proizvod</a>


@code {

}
