body{
   
}

h3{
    text-align:center;
    margin-bottom:100px;
}

.forma {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.forma button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

img {
    background-image:url("../slike/360_F_499933117_ZAUBfv3P1HEOsZDrnkbNCt4jc3AodArl.jpg");