@page "/"

<PageTitle>WebShop | Expert</PageTitle>

<h1>Dobrodošli u WebShop</h1>

Naši najnoviji proizvodi
@*<div>
@foreach(var item in products){
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@item.ProductName</h5>
        <p class="card-text">@item.ProductDescription</p>
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>
}
</div>*@

@code{

}