@page "/"
@using Expert.WebShop.Zavrsni.Models;
@inject HttpClient httpClient
@inject NotificationService NotificationService
@inject NavigationManager navManager
@inject ShoppingCartInMemory shoppingCart

<PageTitle>WebShop | Expert</PageTitle>

<h1>Dobrodošli u WebShop</h1>

Naši najnoviji proizvodi
<div class="container text-center">
    <div class="row">
            @foreach (var item in products)
            {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImagePath" alt="card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.ProductDescription</p>
                        <RadzenButton Click="(()=> {shoppingCart.AddToShoppingCart(item.Id); ShowNotification(item.ProductName); })" Text="Dodaj u košaricu"></RadzenButton>
                    </div>
                </div>
            </div>
            }
    </div>
</div>


@code{
    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts();
    }

    private async Task<List<Product>> GetProducts()
    {
        var result = await httpClient.GetAsync($"https://expertshopapi.azurewebsites.net/api/Products");
        if (result.IsSuccessStatusCode)
        {
            products = await result.Content.ReadFromJsonAsync<List<Product>>();
        }
        return products;
    }


    void ShowNotification(string productName)
    {
        var message = new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Dodano u košaricu", Detail = $"Uspješno ste dodali proizvod {productName} u košaricu!", Duration = 6000 };
        NotificationService.Notify(message);  
    }
}