@page "/"
@using Expert.WebShop.Zavrsni.Models;
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject ShoppingCartInMemory shoppingCart

<PageTitle>WebShop | Expert</PageTitle>

<h1 style="text-align:center; margin-bottom:100px">Dobrodošli u WebShop</h1>

<div class="card-group">
<div class="container text-center">
    <div class="row">
            @foreach (var item in cats)
            {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImagePath" alt="card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.CategoryName</h5>
                        <p class="card-text">@item.CategoryDescription</p>
                        <RadzenButton Click="()=>navigate(item.Id, item.CategoryName)" Text="Otvori kategoriju"></RadzenButton>
                    </div>
                </div>
            </div>
            }
    </div>
</div>
</div>

@code{
    private List<Category> cats = new List<Category>();
    bool IsLoadError = false;
    protected override async Task OnInitializedAsync()
    {
        cats = await GetProducts();
    }

    private async Task<List<Category>> GetProducts()
    {
        var result = await httpClient.GetAsync($"https://expertshopapi.azurewebsites.net/api/Categories");
        if (result.IsSuccessStatusCode)
        {
            cats = await result.Content.ReadFromJsonAsync<List<Category>>();
        }
        return cats;
    }

    private async Task navigate(int id, string categoryName)
    {
        navManager.NavigateTo($"/category/{id}/{categoryName}");
    }

}