@page "/cart"
@using Expert.WebShop.Zavrsni.Models;
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject ShoppingCartInMemory shoppingCartInMemory

@{
    double sum = 0;
}

<PageTitle>Vaša košarica | WebShop</PageTitle>
<h3 style="text-align:center">Vaša košarica</h3>



@foreach(var product in shoppingCartInMemory.SelectedItems.OrderBy(x => x.ProductId))
{
    <RadzenCard Style="width: 100%; padding: 0;">
        <RadzenRow Gap="0">
            <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title" Style="background-color:lightblue">
                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-dark">@product.Product.ProductName</RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Jedinična cijena</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">@product.Product.ProductPrice €</RadzenText>
                    </RadzenColumn>
                    @if (product.Product.Discount > 0)
                    {
                        <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Popust</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2">@product.Product.Discount %</RadzenText>
                        </RadzenColumn>
                    }
                    else
                    {
                        <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0"></RadzenText>
                            <RadzenText TextStyle="TextStyle.Body2"></RadzenText>
                        </RadzenColumn>
                    }

                    <RadzenColumn Size="12" SizeMD="6" SizeLG="5">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Količina</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">@product.NumberOfItems</RadzenText>
                    </RadzenColumn>
                    @if (product.Product.Discount<1)
                    {
                        var total = Convert.ToDouble(product.Product.ProductPrice) * Convert.ToDouble(product.NumberOfItems);
                        sum = sum + total;

                        <RadzenColumn Size="12" SizeMD="6" SizeLG="3" Class="rz-text-align-start rz-text-align-lg-end">
                            <RadzenBadge BadgeStyle="BadgeStyle.Info" Shade="Shade.Lighter" class="price-badge" Text=@($"{total}€") />
                        </RadzenColumn>

                    }
                    else
                    {

                        var discountedPrice = (Convert.ToDouble(product.Product.ProductPrice) * (Convert.ToDouble(product.Product.Discount)/100));
                        var result = Math.Round(Convert.ToDouble(product.Product.ProductPrice) - discountedPrice,2);
                        result = result * product.NumberOfItems;
                        sum = sum + result;
                        <RadzenColumn Size="12" SizeMD="6" SizeLG="3" Class="rz-text-align-start rz-text-align-lg-end">
                            <RadzenBadge BadgeStyle="BadgeStyle.Info" Shade="Shade.Lighter" class="price-badge" Text=@($"{result}€") />
                        </RadzenColumn>
                    }

                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4">
                <RadzenButton Click ="()=>DeleteFromCard(product.ProductId)" Text="Ukloni iz košarice" ButtonStyle="ButtonStyle.Danger" Style="width: 100%" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
}
<br />
<div class="cartTotal">
    <div class="cartTotalPrice">
<RadzenColumn Size="12" SizeMD="6" SizeLG="3" Class="rz-text-align-start rz-text-align-lg-end">
    Ukupno za platiti: 
    <RadzenBadge BadgeStyle="BadgeStyle.Info" Shade="Shade.Lighter" class="price-badge" Text=@($"{sum}€") />
</RadzenColumn>
</div>
<div class="cartTotalButton">
        <RadzenButton Click="Checkout" Text="Nastavi na plaćanje" ButtonStyle="ButtonStyle.Info" Style="width: 100%" />
</div>

</div>




    <style>
        .product-title {
            min-height: 72px;
            background-color: var(--rz-secondary-lighter);
        }

        .price-badge {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            padding: 8px;
        }
    </style>


@code {
    bool allowVirtualization;
    private List<ShoppingCartInMemory> cart = new List<ShoppingCartInMemory>();


    private async Task DeleteFromCard(int targetId)
    {
        foreach(var item in shoppingCartInMemory.SelectedItems.OrderBy(x => x.ProductId))
        {
            if (targetId == item.ProductId)
            {
                shoppingCartInMemory.SelectedItems.Remove(item);
            }
        }
    }

    private async Task Checkout()
    {
        navManager.NavigateTo("/checkout-info");
    }
}
